In [29]:
import pandas as pd

In [30]:
data = pd.read_csv("titanic/train.csv")
test = pd.read_csv("titanic/test.csv")
test_ids = test["PassengerId"]

def clean(data):
    # Drop unnecessary columns
    data = data.drop(["Ticket", "Cabin", "Name", "PassengerId"], axis=1, errors="ignore").copy()
    
    # Fill numeric NaNs with median
    num_cols = ["SibSp", "Parch", "Fare", "Age"]
    for col in num_cols:
        if col in data.columns:
            data[col] = data[col].fillna(data[col].median())
    
    # Fill categorical NaNs with 'U' (unknown)
    if "Embarked" in data.columns:
        data["Embarked"] = data["Embarked"].fillna("U")
    
    return data

# Apply cleaning
data = clean(data)
test = clean(test)

KeyError: 'PassengerID'

In [31]:
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [32]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

cols = ["Sex", "Embarked"]

for col in cols:
    data[col] = le.fit_transform(data[col])
    test[col] = le.transform(test[col])
    print(le.classes_)

data.head(5)

['female' 'male']
['C' 'Q' 'S' nan]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,2
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,2

In [33]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

y = data["Survived"]
X = data.drop("Survived", axis=1)

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [34]:
clf = LogisticRegression(random_state=0, max_iter=1000).fit(X_train, y_train)

ValueError: could not convert string to float: 'Partner, Mr. Austen'

In [24]:
predictions = clf.predict(X_val)
from sklearn.metrics import accuracy_score
accuracy_score(y_val, predictions)

0.8100558659217877

In [26]:
submission_preds = clf.predict(test)

In [ ]:
df = pd.dataFrame