In [12]:
import pandas as pd

In [14]:
data = pd.read_csv("titanic/train.csv")
test = pd.read_csv("titanic/test.csv")

def clean(data):
    # Drop unnecessary columns
    data = data.drop(["Ticket", "Cabin", "Name", "PassengerId"], axis=1, errors="ignore").copy()
    
    # Fill numeric NaNs with median
    num_cols = ["SibSp", "Parch", "Fare", "Age"]
    for col in num_cols:
        if col in data.columns:
            data[col] = data[col].fillna(data[col].median())
    
    # Fill categorical NaNs with 'U' (unknown)
    if "Embarked" in data.columns:
        data["Embarked"] = data["Embarked"].fillna("U")
    
    return data

# Apply cleaning
data = clean(data)
test = clean(test)

In [15]:
data.head(5)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [17]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

cols = ["Sex", "Embarked"]

for col in cols:
    data[col] = le.fit_transform(data[col])
    test[col] = le.transform(test[col])
    print(le.classes_)

data.head(5)

['female' 'male']
['C' 'Q' 'S' 'U']

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [21]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

y = data["Survived"]
X = data.drop("Survived", axis=1)

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
clf =